Flask
Flask-SQLAlchemy
Flask-WTF
Flask-CORS
Werkzeug
selenium
webdriver-manager
requests
beautifulsoup4
python-dotenv
line-bot-sdk
schedule
SQLAlchemy
typing_extensions
lxml
line_bot_sdk
flask_sqlalchemy