Flask
Flask-SQLAlchemy
Flask-WTF
Flask-CORS
Werkzeug
selenium
requests
beautifulsoup4
python-dotenv
line-bot-sdk
schedule
SQLAlchemy
typing_extensions
lxml
flask_sqlalchemy
dotenv
flask_cors
sqlalchemy
webdriver_manager
bs4